@import '@/styles/mixins';

.cardBack {
	@include card;
	display: grid;
	grid-template-areas:
		'contentContainer'
		'actionsContainer';
	grid-template-rows: 1fr auto;
	background-color: #2d3748;
	border-radius: 0.5rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	transform: rotateY(180deg);
	overflow: hidden;

	.contentContainer {
		grid-area: contentContainer;
		display: flex;

		flex-wrap: wrap;
		color: #e2e8f0;
		font-size: 0.9rem;
		padding: 15px;
		position: relative;
		overflow-wrap: anywhere;
		overflow-y: scroll;
	}

	.actionsContainer {
		grid-area: actionsContainer;
		@include actions-grid;
		padding: 0.75rem 1rem;
	}
}
