@use '../IssueCard.mixins' as *;
@use 'styles' as *;

.cardBack {
	@include card;
	display: grid;
	grid-template-areas:
		'contentContainer'
		'actionsContainer';
	grid-template-rows: 1fr auto;
	transform: rotateY(180deg);
	overflow: hidden;
	background-color: $color-bg;

	.contentContainer {
		grid-area: contentContainer;
		display: flex;
		flex-wrap: wrap;
		color: $color-text;
		font-size: 0.9rem;
		padding: 15px;
		position: relative;
		overflow-wrap: anywhere;
		overflow-y: auto;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.actionsContainer {
		@include actions-grid;
		grid-area: actionsContainer;
	}
}
