@import '@/styles/mixins';

.cardFront {
	@include card;
	// display: flex;
	// flex-direction: column;
	// justify-content: space-between;
	display: grid;
	grid-template-areas:
		'Header'
		'Cover'
		'Actions';
	grid-template-rows: 1fr 2fr 1fr;
	transform: rotateY(0deg);

	.header {
		grid-area: 'Header';
		height: 50px;
		h2,
		h3 {
			font-size: 1.2rem;
			margin: 0;
			text-align: center;
			text-overflow: ellipsis;
		}
	}

	img {
		grid-area: 'Cover';
		height: 250px;
		width: auto;
		object-fit: contain;
	}

	.actionsContainer {
		grid-area: 'Actions';
		@include actions-grid;
		padding: 0.75rem 1rem;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
