.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	gap: 2rem;
}

// .case {
// 	margin: 4rem;
// 	min-width: fit-content;
// 	max-width: 1200px;
// 	height: 100%;
// 	overflow-x: scroll;
// }
