@use 'styles' as *;

.searchWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;

	form {
		height: 100%;
		width: 100%;
	}
}

.searchBar {
	@include shadow-transition(focus);
	width: 100%;
	height: 100%;
	max-width: 650px;
	padding: 0.75rem 1rem;
	font-size: 1rem;
	border: $border-solid;
	background: $color-surface;
	color: $color-text;
	box-shadow: $soft-shadow;
	box-sizing: border-box;
	transform: skew($angle-sm-right);

	&:focus {
		outline: none;
	}
}
