@use '@/styles' as *;

@mixin sharedReset {
	border-radius: 0;
	display: flex;
	flex-flow: column wrap;
	background: $gradient-surface-glow;
	color: $color-text;
	font-family: $font-body;
	scroll-behavior: smooth;
	font-size: 16px;
	min-height: 100svh;
	width: 100vw;
}

html,
body {
	@include sharedReset;
	margin: 0;
}

body {
	@include sharedReset;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.6;
	letter-spacing: 0.02em;
	align-self: center;
}
