@use '@/styles/variables';

.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100svh;
	align-content: center;

	h1 {
		align-self: center;
	}
}

@media (max-width: 600px) {
	.page {
		padding: 32px;
		padding-bottom: 80px;
	}
}
