@use 'styles' as *;

.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100svh;
	padding: $padding;
	text-align: center;
	gap: $gap;

	h1 {
		@include jagged-heading;
		margin-bottom: 1rem;
	}
} //TODO lägg till "latest releases"

@media (max-width: 600px) {
	.page {
		padding: 32px;
		padding-bottom: 80px;
	}
}
