.issueCard {
	perspective: 1000px;
	color: #cbd5e0;

	.inner {
		position: relative;
		width: 250px;
		height: 400px;
		text-align: center;
		transition: transform 0.6s;
		transform-style: preserve-3d;
	}

	&.flipped .inner {
		transform: rotateY(180deg);
	}

	&:hover .inner {
		transform: scale(1.05);
	}

	&.flipped:hover .inner {
		transform: rotateY(180deg) scale(1.05);
	}

	.front,
	.back {
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: #2d3748;
		border-radius: 0.5rem;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	}

	.front {
		transform: rotateY(0deg);
		h2,
		h3 {
			font-size: 1.2rem;
			color: #e2e8f0;
			margin: 0;
			text-align: center;
		}

		img {
			height: 100%;
			object-fit: cover;
			margin: 10px auto;
		}
	}

	.back {
		transform: rotateY(180deg);
		overflow: hidden;

		.descWrapper {
			color: #e2e8f0;
			font-size: 0.9rem;
			padding: 15px;
			overflow: hidden;
			position: relative;
			text-overflow: ellipsis;
		}
	}

	.buttonContainer {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 10px;
		background-color: #4a5568;
		border-radius: 0 0 0.5rem 0.5rem;
	}

	button {
		background: none;
		border: none;
		cursor: pointer;
		padding: 0.25rem;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.readMoreButton {
	display: inline-block;
	padding: 0.5rem 1rem;
	background: var(--your-button-color);
	color: white;
	text-align: center;
	border-radius: 4px;
}
