@use 'styles' as *;

.dashboard {
	@include frosted-panel;
	display: flex;
	flex-flow: row wrap;

	justify-content: center;
	align-items: center;
	gap: $gap;
	width: 100%;
}

@media (max-width: $small) {
	.dashboard {
		flex-direction: column;
	}
}
