.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1200px;
	box-sizing: border-box;
	height: 100%;
}

.title {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: var(--color-title, #e2e8f0);
	text-align: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 4rem;
	width: 100%;
	place-items: center;
	background-color: antiquewhite;
}

.list {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2rem;
	padding: 2rem 1rem;
	margin: 0 auto;
	background-color: antiquewhite;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
}
