@use '@/styles' as *;

.footer {
	text-align: center;
	padding-top: $spacing-md;
	padding-bottom: $spacing-md;
	font-size: 0.875rem;
	color: $color-muted;
	background: rgba(0, 0, 0, 0.05);
	width: 100%;
	border-top: $border-dashed;
	position: fixed;
	bottom: 0;
	backdrop-filter: blur(12px);
}
